/** Styles included in topics course format */

.format-onetopic .jumpmenu {
    text-align: center;
}

.format-onetopic .course-content div.single-section .tabtree .tabrow0 li {
    line-height: 28px;
    display: inline-block;
}

.format-onetopic .course-content div.single-section .tabtree .tabrow0 li.here .empty {
    bottom: 3px;
    display: block;
    height: 1px;
    left: 0;
    right: 0;
}

.format-onetopic .course-content div.single-section .tabtree {
    margin-bottom: 0;
}

.format-onetopic .tab_content {
    white-space: nowrap;
}

.format-onetopic .tab_content.marker {
    font-weight: bold;
}

.format-onetopic .utilities-separator {
    clear: both;
    margin-top: 15px;
}

.format-onetopic ul.nav-tabs li a .tab_content.dimmed {
    color: #999;
    opacity: 0.5;
}

.format-onetopic .subtopic-increase-sections {
    margin-right: 10px;
}

.format-onetopic li.sublevel {
    padding-left: 20px;
}

.format-onetopic .onetopic .nav-tabs > li > a {
    padding: 0;
}

.format-onetopic .onetopic .tab_content {
    padding: 8px 12px;
}

.format-onetopic .onetopic_hideicons .activityicon {
    display: none;
}

.format-onetopic .availability_info_box {
    display: inline;
}

.format-onetopic .summary img.activityicon {
    margin-right: 3px;
    vertical-align: text-bottom;
}

.format-onetopic #course_format_onetopic_config_movesection .form-item {
    border-bottom: 1px solid #999;
    padding: 10px;
}

.format-onetopic #course_format_onetopic_config_movesection .form-label {
    font-weight: bold;
}

.format-onetopic #course_format_onetopic_config_movesection .form-setting {
    padding-left: 20px;
}

.format-onetopic #course_format_onetopic_config_movesection .form-description {
    padding-left: 50px;
    font-style: italic;
}

.format-onetopic #course_format_onetopic_config_movesection #changenumsections {
    text-align: left;
}

.format-onetopic .onetopic .content > .summary .quickeditlink {
    display: none;
}

.format-onetopic .onetopic .content > .summary .iconhelp {
    cursor: pointer;
}

.format-onetopic .onetopic .completiontag > form,
.format-onetopic .onetopic .completiontag > form > div {
    display: inline;
}

.format-onetopic .onetopic .completiontag > form > div button {
    padding: 0;
    margin: 0;
    line-height: 0;
}

.format-onetopic .onetopic .completiontag img.icon {
    margin: 0 3px 0 5px;
}

/* SU_AMEND START */
/* Set colours for dropdown selectors */
#id_bgcolor option[value=""] {
  background: #466273;
  color: #fff;
}

#id_bgcolor option[value="#FFF"] {
  color: #000;
}

#id_bgcolor > option[value="#763978"] {
    background: #763978;
    color: #fff;
}

#id_bgcolor > option[value="#CFCC38"] {
    background: #CFCC38;
    color: #fff;
}

#id_bgcolor > option[value="#71A3A7"] {
    background: #71A3A7;
    color: #fff;
}

#id_bgcolor > option[value="#008FBD"] {
    background: #008FBD;
    color: #fff;
}

#id_bgcolor > option[value="#466273"] {
    background: #466273;
    color: #fff;
}

#id_bgcolor > option[value="#00AAAF"] {
    background: #00AAAF;
    color: #fff;
}

#id_bgcolor > option[value="#9BAE4D"] {
    background: #9BAE4D;
    color: #fff;
}

#id_bgcolor > option[value="#23A17C"] {
    background: #23A17C;
    color: #fff;
}

#id_bgcolor > option[value="#E16766"] {
    background: #E16766;
    color: #fff;
}

#id_bgcolor > option[value="#E20613"] {
    background: #E20613;
    color: #fff;
}

#id_bgcolor > option[value="#2C2D2E"] {
    background: #2C2D2E;
    color: #fff;
}
/* SU_AMEND END
